<!DOCTYPE html>
{% extends 'bank/base.html' %}
{% block page_title %}Портал Гражданина{% endblock %}
{% block body_content %}
    {% if user.is_authenticated %}
        <h1>Портал Гражданина</h1>
        {% if has_citizenship%}
            <h2 class="text-secondary">Тут вы можете зарегестрировать свое имущество и поучаствовать в общественной жизни страны.</h2>
            <button data-bs-toggle="collapse" data-bs-target="#properties-info" class="btn btn-lg btn-warning m-3">Имущество</button>
            <a class="btn btn-lg btn-info m-3" href="{% url 'bank:business_management' %}">Управление бизнесом</a>
            {% if user.is_staff %}
                <a class="btn btn-lg btn-success m-3" href="{% url 'bank:user_list' %}">Информация о жителях страны</a>
                <button class="btn btn-lg btn-primary m-3" data-bs-toggle="collapse" data-bs-target="#car_registration">Регистрация авто гражданину</button>
                <button class="btn btn-lg btn-light m-3" data-bs-toggle="collapse" data-bs-target="#create_article">Написать статью</button>
            {% endif %}
            <div id="properties-info" class="collapse">
                <h2>Ваше имущество:</h2>
                <div class="bg-warning btn my-3">
                    {% for item in property_list %}
                        {% if item.car %}
                            <h3>{{ forloop.counter }}. {{ item.property_type }}: {{ item.name }} ({{ item.car.registration_plate }}); {{ item.description }} за {{ item.market_price }} рублей.</h3>
                        {% else %}
                            <h3>{{ forloop.counter }}. {{ item.property_type }}: {{ item.name }}; {{ item.description }} за {{ item.market_price }} рублей.</h3>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="jumbotron">
                    <form method="post">
                        {% csrf_token %}
                        <h3>{{ form_property.as_p }}</h3>
                        <button class="btn btn-success btn-lg" type="submit">Добавить</button>
                    </form>
                </div>
            </div>
            <div id="car_registration" class="jumbotron collapse my-3">
                <h2>Регистрация авто гражданину</h2>
                <form method="post">
                    {% csrf_token %}
                    <h3>{{ form_car.as_p }}</h3>
                    <input class="btn btn-lg btn-success" type="submit" value="Оформить">
                </form>
            </div>
            <div id="create_article" class="collapse jumbotron">
                <h2>Создание статьи</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h6>{{ form_article.as_p }}</h6>
                    <input type="submit" class="btn btn-lg btn-success" value="Опубликовать">
                </form>
            </div>
        {% else %}
            {% if has_bank %}
                <h2>Здесь вы можете подать документы на получение гражданства Черноруси.</h2>
                <div class="jumbotron">
                <form method="post">
                    {% csrf_token %}
                    <h3>{{ form.as_p }}</h3>
                    <button class="btn btn-success btn-lg" type="submit">Подать заявку</button>
                </form>
                </div>
            {% else %}
                <h2 class="text-danger">Сначала откройте банковский счёт</h2>
            {% endif %}
        {% endif %}
    {% else %}
        <h1>Войдите в свой аккаунт, чтобы продолжить работу с Порталом Гражданина</h1>
    {% endif %}
{% endblock %}
