<!DOCTYPE html>
{% extends 'bank/base.html' %}
{% load static %}
{% block page_title %}Главная{% endblock %}
{% block extra_nav %}
    <h4 class="bg-dark text-light"><marquee>Последние новости: {% for article in articles %}<a href="{% url 'bank:article' article.id%}">{{ article.title }}</a> ● {% endfor %}</marquee></h4>
{% endblock %}
{% block body_content %}
    {% if user.is_authenticated %}
        <h1>{{ user.first_name }}, добро пожаловать на Гос Услуги!</h1>
        <h2>Официальный сайт сервера Чернорусь</h2>
        <h3>На этом сайте вы сможете торговать, создавать бизнесы, получить гражданство, читать последние новости и многое другое!</h3>
    {% else %}
        <h1>Здравствуйте, войдите в свой аккаунт для дальнейшего использования</h1>
    {% endif %}
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'bank/img/chernorus_flag_2.jpeg' %}" alt="Флаг 2" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="{% static 'bank/img/chernorus_lozung.jpeg' %}" alt="Лозунг Черноруси" class="d-block w-100">
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
    <div class="jumbotron">
        <h2>Экономические показатели Черноруси:</h2>
        <h3>Средняя зарплата в стране: {{ average_salary }} рублей.</h3>
        <h3>Баланс казны: {{ central_bank.balance }} рублей.</h3>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for article in article_list %}
      <div class="col"><a href="{% url 'bank:article' article.id%}" style="text-decoration: none">
        <div class="card">
            {% if article.picture %}
                <img src="{{ article.picture.url }}" class="card-img-top" alt="Обложка">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title text-dark">{{ article.title }}</h5>
                <p class="card-text">Автор: <span class="text-primary">{{ article.author.username }}</span></p>
            </div>
        </div></a>
      </div>
    {% endfor %}
    </div>
{% endblock %}
