<!DOCTYPE html>
{% extends 'bank/base.html' %}
{% block page_title %}Законы Черноруси{% endblock %}
{% block body_content %}
    <h1>Законы Черноруси</h1>
    <h2 class="text-secondary">На этой странице указан свод правил Черноруси</h2>
    <div class="jumbotron">
        <h3>Часть I. Свобода</h3>
        <p>1. Все жители Черноруси обладают свободой передвижения, это означает, что если нет знака, на эту дорогу можно ехать. Однако, вы должны соблюдать ПДД, а не то получите штраф или лишение прав. Автошкола находится на гоночной трассе Черногорска.</p>
        <p>2. У вас есть свобода строительства, однако нельзя рушить госудаственные или частные постройки. Строить себе дом или что-либо еще можно только на купленной вами территории.</p>
        <h3>Часть II. Криминал</h3>
        <p>3. Запрещено воровать в любом виде. Нельзя воровать из магазинов, угонять машины и тд. За такие преступления можете угодить на зону.</p>
        <p>4. Во время пребывания срока в тюрьме у вас будет режим приключения (/gamemode adventure), чтобы вы не могли ломать стены и не смогли бы сбежать. За попытку побега получите по шапке.</p>
        <h3>Часть III. ГосУслуги</h3>
        <p>5. Чтобы вести частный бизнес, вам надо оформить его на гос услугах.</p>
        <p>6. Покупать товары у бизнесов надо через сайт ГосУслуги, чтобы платить налоги в казну. Покупать товары вы можете и без гражданства, для этого вам нужен только аккаунт + банковский счет, на котором будет нужная сумма.</p>
        <p>7. Чтобы создать бизнес, устроиться на работу или выложить вакансию вам надо получить гражданство Черноруси в вкладке "Портал Гражданина".</p>
        <p>8. Платить за товары переводами на счет строго запрещено!</p>
    </div>
{% endblock %}