<!DOCTYPE html>
{% extends 'bank/base.html' %}
{% block page_title %}Займ{% endblock %}
{% block extra_nav %}
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'bank:business_management' %}">Панель управления</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'bank:loan' %}">Займ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'bank:fiscal_info' %}">Налоги</a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block body_content %}
    <h1>Банковские займы</h1>
    <h2 class="text-secondary">Тут вы можете оформить займ для различных целей.</h2>
    <div class="jumbotron">
        <h2>Оформление займа</h2>
        <form method="post">
            {% csrf_token %}
            <h3>{{ form.interest_rate.label_tag }} {{ form.interest_rate }}</h3>
            <h3>{{ form.amount.label_tag }} {{ form.amount }}</h3>
            <h3>{{ form.period.label_tag }} {{ form.period }}</h3>
            <input type="submit" class="btn btn-lg btn-success" value="Подать заявку">
        </form>
    </div>
    <h2>Ваши займы:</h2>
    {% for loan in loan_list %}
        <div class="jumbotron bg-dark text-light">
            <h3>Тип кредита: {{ loan.interest_rate }}.</h3>
            <h3>Вы взяли {{ loan.amount }} рублей {{ loan.start_date }}.</h3>
            <h3>В итоге вам надо выплатить {{ loan.payback_sum }} рублей {{ loan.payback_date }}.</h3>
            <h3>На данный момент вы уже выплатили {{ loan.paid_sum }} рублей, а осталось выплатить {{ loan.remained_sum }} рублей.</h3>
        </div>
    {% endfor %}
{% endblock %}