<!DOCTYPE html>
{% extends 'bank/base.html' %}
{% block page_title %}Профиль{% endblock %}
{% block body_content %}
    <h1>Привет, {{ user.first_name }}!</h1>
    {% if user.is_staff %}
        <h4>Ваша рабочая панель: <a class="btn btn-primary btn-lg" href="{% url 'admin:index' %}">Рабочий кабинет</a></h4>
    {% endif %}
    {% if no_account %}
        <h2>Тут ты можешь создать свой банковский счет, с помощью которого сможешь воспользоваться ГосБанком!</h2>
        <a class="btn btn-lg btn-success" href="{% url 'bank:bank_result' %}">Создать счёт</a>
    {% else %}
        <h2>Ваш банковский счёт:</h2>
        <div class="jumbotron">
            <h4>Код ЦБ: {{ bank_acc.name }}</h4>
            <h4>Баланс: {{ bank_acc.balance }} рублей.</h4>
        </div>
        <div class="jumbotron bg-dark text-light">
            <h2>Транзакции с вашим счетом:</h2>
            <table class="table" style="max-width: 100%">
                <thead>
                <th>
                    <tr>
                        <th class="text-light">Отправитель</th>
                        <th class="text-light">Получатель</th>
                        <th class="text-light">Сумма</th>
                        <th class="text-light">Дата</th>
                    </tr>
                </th>
                </thead>
                <tbody>
                {% for trans in trans_list %}
                    {% if trans.receiver.id == bank_acc.id %}
                        <tr class="bg-success text-light">
                    {% else %}
                        <tr class="bg-danger text-light">
                    {% endif %}
                        <td><h5>{{ trans.sender.user.username }} - {{ trans.sender.name }}</h5></td>
                        <td><h5>{{ trans.receiver.user.username }} - {{ trans.receiver.name }}</h5></td>
                        <td><h5>{{ trans.amount }}</h5></td>
                        <td><h5>{{ trans.pub_time.date }}</h5></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}
{% endblock %}